table {
  border-collapse: collapse;
  width: 1024px; /* 각 컬럼 너비 100px x 5 */
  margin: auto;
}
th, td {
  border: 1px solid black;
  text-align: center;
  width: 200px;
}
th {
  background-color: #f2f2f2;
}
button {
  width: 80px; /* 버튼의 너비를 적절히 설정 */
  height: 30px; /* 버튼의 높이를 적절히 설정 */
}
.input-row input {
  width: 200px; /* 입력 필드의 너비를 적절히 설정 */
}